@import '../../app/vars';

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 8px;
	background: white;
	border-radius: 5px;
	text-transform: uppercase;

	&_green {
		color: $colorGreen;
		border: 1px solid $colorGreen;
	}

	&_black {
		color: black;
		border: 1px solid black;
	}

	&_red {
		color: #F5222D;
		border: 1px solid #F5222D;
		padding: 12px 20px;
	}

	&_blue {
		color: #1890FF;
		border: 1px solid #1890FF;
		padding: 12px 30px;
	}
}